<!DOCTYPE html>
<html>
  <head>
    <title>Photo32em</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.userURL = "<%= image_url('userpic.png') %>";
      window.churchURL = "<%= image_url('church.jpg') %>";
      window.pinkwallURL = "<%= image_url('pinkwall.jpg') %>";
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
